*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    /*font-family: 'Courier New', Courier, monospace;*/
}


.parent{
    display: grid;
    grid-template-rows: auto;
}

body{
    /*background-image: url(fondo.png);*/
    background-size: 10%;
    background-repeat:repeat;
    background-position: center center;
    background-attachment: fixed;
}

ul{
    list-style: none;
}

/*CABECERA*/

.titulo{
    margin-left: -15px;
    /*background-color: orange;*/
    width: 500px;
    font-size: 25px;
    display: block; /*ancho máximo disponible*/
    white-space: nowrap;
    border-right: 2px solid;
    width: 25.1ch;

    animation: typing 2s steps(24), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing{
    from {width: 0;}
}

@keyframes blink{
    50% {border-color: transparent}
}

.logo{
    margin-left: 15%;
}

.busc{
    position: sticky;
    background-color:white ;
}

.catalogo{
    margin-top: 50px;
    margin-right:10%;
    margin-left:10%;
    background-color: white;
    color: black;
    /*border: 2px black solid;*/
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
   
}

.catalogocaja{
    border: 1px solid black;
    text-align: center;
    margin: 3%;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); /*Sombra al catálogo */
    transition: all .4s ease; /*el efecto se hace más lento*/
}

.catalogocaja:hover{
    text-align: center;
    margin: 3%;
    z-index: 1;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4); /*aumenta sombra del catálogo al pasar el mouse*/
    transform: translateY(-3%); /*el catálogohace para arriba cuando se pasa el mouse sobre él*/
}

.catalogocaja img{
    border: 1px solid black;
    text-align: center;
    margin: 5%;
}

.catalogo h2{
    margin-left: 5%;
    margin-right: 5%;
    background-color: lightgray;
    border-top-left-radius: 50%;
    
    font-size: 150%;
    color: black;   
}

.catalogo p{
    
    margin-left: 5%;
    margin-right: 5%;
    border-bottom-right-radius:50% ;
    background-color: lightgray;
    color: black;
    font-size: 80%;
}

.cabecera{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px;
}
.nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    height: 60px;
    margin: 0 auto;
    grid-column-gap: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
    
    /*
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0%;
    padding: 10px;
    font-size: 200%;*/
}

.boton{
    margin-top: 15px;
    font-size: 20px;
    position: relative;
    width: 100%;
    height: 50px;
    transition: .3s ease all;
    overflow: hidden;
    cursor: pointer;
    background-color: lightgray;
    border: .5px solid;
}

.boton span{
    position: relative;
    z-index: 2; /*para que esté delante del color*/
    
}

.boton::after{ /*ayuda a crear un elemento dentro del boton*/
    content: ""; /*con la propiedad de content agrego el elemento*/
    height: 1px;
    width: 1px;
    background-color: none;
    position: absolute;
    z-index: 1; /*agrego z-index para que esté detrás del texto*/
    top: 50%; /*con este top la capa no es visible*/
    left: 50%;
    transition: .5s ease-in-out all;
    border-radius: 100px;
}

.boton:hover::after{
    transform: scale(400);
    background: var(--linea--borde--relleno);
}

.cabecera{
    width: 100%;
    height: 80px;
    background-color: lightgray;
}

.nav a{
    text-decoration: none;
    color: black;
}


h4{ 
    background-color: rgb(255, 254, 215);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*text-align: center;
    font-size: larger;*/
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box div{
    width: auto;
    height: auto;
}
.logo{
    margin-left:40.5%;
    margin-right: auto;
    text-align: center;
}

/*END CABECERA*/

/*BARRA DE PROGRESO*/

/*creo dos tipos de variables dentro de la pseudo clase root*/
:root{
    --linea--borde--relleno: #3498db;
    --linea--borde--vacio: #e0e0e0;
}

*{
    box-sizing: border-box;
}

.padre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    width: 500px;
    height: 500px;
    margin-top: 70px;
    margin-left: 380px;
    

}

.progreso-contenedor{
    /*color: aliceblue;*/
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.contenedor{
    text-align: center;
}

.progreso-contenedor::before{
    content: ''; /*Con esto logro que se muestre la barra*/
    background-color: var(--linea--borde--vacio);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1; /*Esto sirve para que la barra esté detrás de los numeros*/
    transition: 0.4s ease; /*Tiempo de transición */
}

.progreso{
    background-color: var(--linea--borde--relleno);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1; /*Esto sirve para que la barra esté detrás de los numeros*/
    transition: 0.4s ease; /*Tiempo de transición */
}



.circulo{
    height: 30px;
    width: 30px;
    background-color: #fff;
    color: #999;
    border-radius: 50%; /*doy forma circular a los numeros*/
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--linea--borde--vacio);
    transition: 0.4s ease;
}

.circulo.active{
    border-color: var(--linea--borde--relleno);
}

.btn{
    background-color: var(--linea--borde--relleno);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer; /*cuando se pasa el mouse por encima, se cambia la flecha por la mano*/
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.98); /*le da un efecto al tocar el boton*/
}

.btn:disabled{
    background-color: var(--linea--borde--vacio);
}

.btn:focus{
    outline: 0;
}

.texto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px;
    border-radius: 10px;
}
/*.texto::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*border-radius: 5%;
    background-image: linear-gradient(to right top,#1f1658,#4f2a7a,#81409b,#b556bb,#ed6dd8);
    filter: blur(10px); /*efecto de desenfoque
    z-index: -1;
}*/


/*END BARRA DE PROGRESO*/

.titulo_y_logo{
    display: grid;
    align-items: center;
    grid-template-columns: 500px 500px;
    /*background-color: #cc1010;*/
}

.titulo{
    margin-left: -15px;
    /*background-color: orange;*/
    width: 500px;
    font-size: 25px;
    display: block; /*ancho máximo disponible*/
    white-space: nowrap;
    border-right: 2px solid;
    width: 25.1ch;

    animation: typing 2s steps(24), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing{
    from {width: 0;}
}

@keyframes blink{
    50% {border-color: transparent}
}

.logo{
    margin-left: 15%;
}



/*REGISTRARSE*/

body .registrarse{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
    margin: auto;
}

form{
    padding: 40px 0;
}
form .label_e_input{
    position: relative;
    margin: 45px;
}

input{
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #c6c6c6;
}

input:focus{
    outline: none;
}

label{
    position: absolute;
    left: 5px;
    top: 10px;
    color: #c6c6c6;
    transition: .4s ease-in-out all;
}

input:focus~label{ /*cuando toque el input, el label va a subir*/
    top: -14px;     
}








 
 
  
    
